<!doctype html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">


    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    {% block headextra %}{% endblock %}
</head>

<body>
    <div id="title" class="container mx-auto text-center">
        <h1>Currency Converter</h1>
        <h4>A currency converter app in <strong>Python</strong> using <strong>Flask</strong> and <a
                href="https://exchangeratesapi.io/">exchangeratesapi.io</a> by <a
                href="https://github.com/python-20">python-20</a></h4>
    </div>
    <div class="container">
        <div class="row justify-content-center mx-auto">

            {% block body %}{% endblock %}

        </div>

    </div>
</body>

</html>