{% extends 'base.html' %}

{% block title %}Currency Converter/Tracker{% endblock %}

{% block body %}
<form name="userInput" method="POST">
    <label for="amount">amount: </label>
    <input name="amount" type="text">
    <select name="fromCurrency">
        {% for code in currencyCodes %}
        <option value="{{code}}">{{code}}</option>
        {% endfor %}
    </select>
    to
    <select name="toCurrency">
        {% for code in currencyCodes %}
        <option value="{{code}}">{{code}}</option>
        {% endfor %}
    </select>
    <input type="submit" name="submit"></input>
</form>

{% include 'result.html' %}
{% endblock %}